{% extends 'base.html' %}

{% block title %}
  Edit Profile
{% endblock %}

{% block body %}

    <style>

.vh-100 {
    height: 130vh!important;
}

        .gradient-custom-3 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
    </style>

    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">

                    <center>
                    <div>
        
                        {% for message in messages %}
                        <h3 style="color: red;"> {{message}} </h3>
                        {% endfor %}
                    </div>
                </center>

                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
      
                      <form class="mx-1 mx-md-4"  method="post">
                        {% csrf_token %}


                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text"  name="first_name" id="form3Example1c" class="form-control" 
                            placeholder="Jhone" value="{{user.first_name}}" required/>
                            <label class="form-label" for="form3Example1c">Fist Name</label>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text"  name="last_name" id="form3Example1c" class="form-control" 
                            placeholder="Smith" value="{{user.last_name}}" required/>
                            <label class="form-label" for="form3Example1c">Last Name</label>
                          </div>
                        </div>

                        <!-- <input type="hidden" name="username" value="{{user.username}}"> -->

                        <!-- <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0"> -->
                              <input type="hidden" name="username" id="form3Example1c" class="form-control" 
                               value="{{user.username}}" required/>
                              <!-- <label class="form-label" for="form3Example1c">Username</label>
                            </div>
                          </div> -->

                          <input type="hidden" name="old_username" value="{{ user.username }}">

      
                        <!-- <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" name="email" id="form3Example3c" class="form-control" 
                            placeholder="jhonesmith@anythin.com" required/>
                            <label class="form-label" for="form3Example3c">Your Email</label>
                          </div>
                        </div> --> 
                        <center>       
                        <div class="form-group m-4 mr-5">
                            <input type="submit" class="btn btn-warning" value="Update Password" id="sbbtn">
                            <a class="btn btn-danger ml-3" href="{% url 'userdetails' %}">Cancel</a>
                        </div>
                    </center>
                        </div>

                        
      
                      </form>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    {% endblock %}

